header{
    nav{
        background: $grisFondo;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        div{
            #check:checked ~ ul{
                left: 0%;
            }
            #check{
                display: none;
            }
            ul{
                float: right;
                margin-right: 20px;
                li{
                    display: inline-block;
                    line-height: 80px;
                    margin: 0 5px;
                    a{
                        color: black;
                        font-size: 18px;
                        padding: 7px 13px;
                        text-decoration: none;
                        border-radius: 3px;
                        &.active, &:hover{
                            background: $dorado;
                            transition: .5s;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
@media(min-width: 1030px){
    header{
        nav{
            div{
                display: flexbox;
                justify-content: space-between;
                width: 100%;
                height: 100%;

                .enlace{
                    padding: 20px 50px;
                }
                .logo{
                    height: 50px;
                    margin-left: 40px;
                }
                .checkBtn{
                    display: none;
                }

            }
        }
    }
}
//menu_responsive_mixin
@mixin menuResposive {
    header{
        nav{
            .header{
               display: flex;
               justify-content: space-between;
               align-items: center;
               position: relative;
            }
            .checkBtn{
                display: block;
                color: black;
                font-size: 30px;
                float: right;
                line-height: 80px;
                margin-right: 40px;
                cursor:pointer;
            }
            div{
                .logo{
                    height: 50px;
                    margin-left: 40px;
                }
                ul{
                    text-decoration: none;
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: -100%;
                    text-align: center;
                    transition: all .5s;
                    flex-direction: column;
                    margin-top: 85px;
                    background-color: #f2f4f6;
                    li{
                        display: block;
                        margin: 20px 0 0 0;
                        list-style: 30px;
                        a{
                            font-size: 20px;
                            flex-direction: column;
                            &.active, &:hover{
                                color: $dorado;
                                color: white;
        
                            }
                        }
                    }
                }
                
            }
        }
    }
}
@media(max-width: 1029px){
    @include menuResposive;
}
@media(max-width: 858px){
    @include menuResposive;
}