//colores_Background
$grisFondo:#eaecef;
$dorado:#cc9a37;
$doradoclaro: #f6d76d;
$seccionColor: #655d59;
$fondoTrasnparente:#eaecefa8;
//botones
@mixin botones {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width:  250px;
    height: 40px;
    margin: 10px;
    background: $dorado;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    &:hover{
      background: $doradoclaro;
      }
  }
//centrado
@mixin centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}